%div.container
  %div.row
    %div.card
      %div.row
        %div.col-4.p-2
          %h1=t('general.name')
          %h2= social_network.name

        %div.col-4.p-2
          %h1=t('general.key')
          %h2= social_network.sc_key

        %div.col-4.p-2
          %h1=t('general.id')
          %h2= social_network.sn_id