@import "bootstrap/scss/bootstrap";
@import '../../assets/stylesheets/tools/utilities';
@import '../../assets/stylesheets/tools/variables';
@import 'home';
@import 'sidebar';
@import 'topbar';
@import 'login';
@import 'triviums';
@import 'clients';

body {
  background: $color-light-gray;
}

.card{
  background-color: $color-white;
  padding: 15px;
}

.main-grid{
  @extend %grid;
  grid-template-columns: 244px 940px;
  grid-template-rows: 101.5px 101.5px 112px 1fr;
  grid-row-gap: $column-separator*0;
  justify-self: center;
}

.main-container{
  @extend %grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh;
}

.form-group {
  position:relative;
  margin-bottom: 0 !important;
}

%btn-extender {
  @extend .btn;
  @extend .btn-submit;
}

.btn{
  width: 150px;
  background-color: $color-yellow;
  border-radius: 5%;
  border: 1px solid $color-yellow;
}

.btn-submit{
  margin: 15px;
  width: 150px;
}

.form{
  input[type="submit"] {
    @extend %btn-extender;
  }
  .error-msg{
    font-size: 12px;
    font-family: $monserrat;
    font-weight: 100;
    p{
      margin: 0;
      color: $color-red;
    }
  }
  .border-red {
    border-color: $color-red !important;
  }
  .hide{
    display: none;
  }
  position: relative;
}

.form-group-select .form-select:valid + .form-label {
  font-size: $font-size; 
  margin-top: -50px;
  margin-left: 5px;
}

.form-group-select .form-select:focus + .form-label {
  font-size: $font-size; 
  margin-top: -50px;
  margin-left: 5px;
}

.form-group .form-input:focus + .form-label {
  font-size: $font-size; 
  margin-top: -50px;
  margin-left: 5px;
}

.form-group .form-input:valid + .form-label {
  font-size: $font-size; 
  margin-top: -50px;
  margin-left: 5px;
}

.form-group .form-input:invalid + .form-label {
  padding-left: 10px;
  font-size: $font-size * 1.5; 
}

.form-group{
  margin-top: 10px;
  margin-bottom: 10px;
  label{
    position: absolute;
    color: $color-gray;
    font-family: $monserrat;
    font-weight: 200;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    z-index: 10;
    margin-top: 15px;
    margin-top: -38px;
  }
  input{
    border: 1px solid $color-gray;
    height: 50px;
    width: 100%;
    display: block;
  }
}

.form-group-select{
  label{
    position: absolute;
    color: #5E6E00;
    font-family: $monserrat;
    font-weight: 200;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    z-index: 10;
    margin-top: -38px;
    padding-left: 10px;
  }
  input{
    border: 1px solid #5E6E00;
    height: 50px;
    width: 100%;
    display: block;
  }
  .form-select{
    width: 100%;
    display: block;
    color: #5E6E00;
    font-family:  $monserrat;
    font-weight: 200;
    font-size: $font-size * 1.5; 
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .form-select-hours{
    width: 30%;
    display: inline;
    color: #5E6E00;
    font-family:  $monserrat;
    font-weight: 200;
    font-size: $font-size * 1.5; 
    padding-top: 15px;
    padding-bottom: 10px;
  }
}



h1{
  color: $color-yellow;
  font-size: $font-size * 2;
  font-weight: bold;
}

h2{
  color: $color-gray;
  font-size: $font-size * 1.5;
  font-weight: bold;
}

.btn-primary:hover {
  color: #fff;
  background-color: $color-black;
  border-color: $color-black;
}

.link-table{
  color: $color-yellow;
}